*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
   
}
.img{
    height: 100vh;
    position: relative;
}

.up{
    position: absolute;
    z-index: 1;
    top: 12%;
    left: 100px;
    text-emphasis: 2px;
}

